# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# Build
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker volumes
mysql_data/
neo4j_data/

# Neo4j dump
*.dump

# VSCode
.vscode/

venv/
*.pyc